{% comment %}
  Cart page section
  See https://shopify.dev/docs/themes/architecture/templates/cart
{% endcomment %}

<div class="page-flex-container">
  <div class="page-window-box">
    <div class="window-box-header">
      <div class="window-box-title">
        <h2>C:/Cart</h2>
      </div>
      <div class="window-box-icons">
        <img src="{{ 'window-minimise.png' | asset_url }}" alt="Minimize">
        <img src="{{ 'window-maximise.png' | asset_url }}" alt="Maximize">
        <img src="{{ 'window-close.png' | asset_url }}" alt="Close">
      </div>
    </div>

    <div class="window-box-content">
      <div class="page-content">
        {% if cart.item_count == 0 %}
          <p>🤷‍♂️ Your cart is empty.</p>
        {% endif %}

        <form action="{{ routes.cart_url }}" method="post" id="cart-form">
          <div style="overflow: hidden; margin: 0 auto; display: flex; justify-content: center; align-items: center; width: 100%;">
            <div style="text-align: center; width: 100%;">
              <table>
                {% for item in cart.items %}
                  <tr>
                    <td>
                      {% if item.image != null %}
                        {{ item | image_url: width: 100 | image_tag: height: 100 }}
                      {% else %}
                        <img alt="No image" src="" width="50" height="50" loading="lazy">
                      {% endif %}
                    </td>
                    <td style="text-align: left; padding-left: 1em;">
                      <p href="{{ item.url }}" style="color: black; text-decoration: none; text-shadow: none;">{{ item.title }}</p>

                      {% unless item.properties == empty %}
                        {% for property in item.properties %}
                          {% unless property.last == '' %}
                            <div style="font-size: small; color: #000000ff; margin-top: 2px;">
                              {{ property.first }}:
                              {% if property.last contains '/uploads/' %}
                                <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                              {% else %}
                                {{ property.last }}
                              {% endif %}
                            </div>
                          {% endunless %}
                        {% endfor %}
                      {% endunless %}

                      {% unless item.selling_plan_allocation == empty %}
                        {% unless item.selling_plan_allocation.selling_plan == empty %}
                          <div style="font-size: small; color: #000000ff; margin-top: 2px;">
                            {{ item.selling_plan_allocation.selling_plan.name }}
                          </div>
                        {% endunless %}
                      {% endunless %}
                    </td>
                    <td>
                      x
                      <input
                        type="text"
                        value="{{ item.quantity }}"
                        size="2"
                        class="cart-quantity-input"
                        data-item-key="{{ item.key }}"
                        id="{{ item.key }}"
                      >
                      <a href="{{ item.url_to_remove }}">🗑️</a>
                    </td>
                    <td>
                      {{ item.original_line_price | money }}
                    </td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </form>

        <div style="float: none; height: 40px;"></div>

        <div style="text-align: center; width: 95%; margin: 0 auto;">
          <label for="my_cart_note">Leave a message:</label><br>
          <textarea name="note" id="my_cart_note" style="width: 80%; height: 40px; box-sizing: border-box;">{{ cart.note }}</textarea>
        </div>

        <div style="float: none; height: 20px;"></div>

        <div style="display: flex; width: 100%;" class="my_top_space my_bottom_space my_right_space">
          <p class="my_font_large" style="width: 45%; margin: 0; text-align: center;">
            Total: {{ cart.total_price | money_with_currency }}
          </p>
          <input type="submit" name="checkout" value="Checkout" 
                class="my_font_large" 
                style="width: 45%; text-align: center; margin: 0;"
                form="cart-form">
        </div>

        <div style="float: none; height: 20px;"></div>

        {% if cart.item_count == 0 %}
          <p>🤷‍♂️ Your cart is empty.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.cart.name",
  "limit": 1,
  "enabled_on": {
    "templates": ["cart"]
  }
}
{% endschema %}