{% comment %}
  Collection page section
  See https://shopify.dev/docs/themes/architecture/templates/collection
{% endcomment %}

<div class="desktop-flex-container">
  <div class="window-box">
    <div class="window-box-header">
      <div class="window-box-title">
        <h2>C:/etch/all-collections/{{ collection.title }}</h2>
      </div>
      <div class="window-box-icons">
        <img src="{{ 'window-minimise.png' | asset_url }}" alt="Minimize">
        <img src="{{ 'window-maximise.png' | asset_url }}" alt="Maximize">
        <img src="{{ 'window-close.png' | asset_url }}" alt="Close">
      </div>
    </div>

    <div class="window-box-content">
      <div class="tee-flex-container">
        {% for product in collection.products %}
          <div class="collection-collage" style="text-align: center;">
            <div>
              <a href="{{ product.url }}">
                <div class="collection-desktop">
                  {% if product.images != empty %}
                    {{ product | image_url: width: 300 | image_tag: height: 300 }}
                  {% else %}
                    <img alt="No image" src="" width="300" height="300" loading="lazy">
                  {% endif %}
                </div>
                <div class="collection-mobile">
                  {% if product.images != empty %}
                    {{ product | image_url: width: 100 | image_tag: height: 100 }}
                  {% else %}
                    <img alt="No image" src="" width="300" height="300" loading="lazy">
                  {% endif %}
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection.name",
  "limit": 1,
  "enabled_on": {
    "templates": ["collection"]
  }
}
{% endschema %}