{% comment %}
  Home page section
  See https://shopify.dev/docs/themes/architecture/templates/index-template
{% endcomment %}

<div class="desktop-flex-container">
  <div class="home-product">
    <div class="home-product-window-box">
      <div class="window-box-header">
        <div class="window-box-title">
          <h2>C:\etch</h2>
        </div>
        <div class="window-box-icons">
          <img src="{{ 'window-minimise.png' | asset_url }}" alt="Minimize">
          <img src="{{ 'window-maximise.png' | asset_url }}" alt="Maximize">
          <img src="{{ 'window-close.png' | asset_url }}" alt="Close">
        </div>
      </div>
      <div class="home-product-window-box-content" style="background-image: url('{{ 'img-product-window-featured.png' | asset_url }}'); background-size: cover;">
        <div class="featured-product">
          <div class="featured-product-gif" style="background-image: url('{{ 'img-8-ball.gif' | asset_url }}');"></div>
          <a href="/collections/frontpage">
            <div class="featured-product-text" style="background-image: url('{{ 'img-product-text-featured.png' | asset_url }}');"></div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="home-logo">
    <div class="home-logo-window-box">
      <div class="window-box-header">
        <div class="window-box-title">
          <h2>C:\etch\logohahaha</h2>
        </div>
        <div class="window-box-icons">
          <img src="{{ 'window-minimise.png' | asset_url }}" alt="Minimize">
          <img src="{{ 'window-maximise.png' | asset_url }}" alt="Maximize">
          <img src="{{ 'window-close.png' | asset_url }}" alt="Close">
        </div>
      </div>
      <div class="home-logo-window-box-content">
        <img src="{{ 'img-etch-logo.png' | asset_url }}" alt="ETCH Logo" width="100%">
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.home_page.name",
  "limit": 1,
  "enabled_on": {
    "templates": ["index"]
  }
}
{% endschema %}