{% comment %}
  Collection list page section
  See https://shopify.dev/docs/themes/architecture/templates/list-collections
{% endcomment %}

<div class="desktop-flex-container">
  <div class="window-box">
    <div class="window-box-header">
      <div class="window-box-title">
        <h2>C:/etch/all-collections</h2>
      </div>
      <div class="window-box-icons">
        <img src="{{ 'window-minimise.png' | asset_url }}" alt="Minimize">
        <img src="{{ 'window-maximise.png' | asset_url }}" alt="Maximize">
        <img src="{{ 'window-close.png' | asset_url }}" alt="Close">
      </div>
    </div>

    <div class="window-box-content">
      <div class="collections-flex-container">
        <div class="collection-display">
          <div class="collection-tees" style="background-image: url('{{ 'img-placeholder-tees.jpg' | asset_url }}'); background-size: cover;">
            {% for collection in collections %}
              {% if collection.title == "Prints" %}
                {% continue %}
              {% else %}
                <a href="{{ collection.url }}">
                  <button type="button" class="collection-button">
                    <p>{{ collection.title }}</p>
                  </button>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>

        <div class="collection-display">
          <div class="collection-prints" style="background-image: url('{{ 'img-placeholder-prints.jpg' | asset_url }}'); background-size: cover;">
            {% for collection in collections %}
              {% if collection.title == "Tees" %}
                {% break %}
              {% else %}
                <a href="{{ collection.url }}">
                  <button type="button" class="collection-button">
                    <p>{{ collection.title }}</p>
                  </button>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.list_collection.name",
  "limit": 1,
  "enabled_on": {
    "templates": ["list-collections"]
  }
}
{% endschema %}