{% comment %}
  Page section
  See https://shopify.dev/docs/themes/architecture/templates/page
{% endcomment %}

<div class="desktop-flex-container">
  <div class="page-flex-container">
    <div class="page-window-box">
      <div class="window-box-header">
        <div class="window-box-title">
          <h2>C:/{{ page.title }}</h2>
        </div>
        <div class="window-box-icons">
          <img src="{{ 'window-minimise.png' | asset_url }}" alt="Minimize">
          <img src="{{ 'window-maximise.png' | asset_url }}" alt="Maximize">
          <img src="{{ 'window-close.png' | asset_url }}" alt="Close">
        </div>
      </div>

      <div class="window-box-content">
        <div class="page-content">
          <h1>{{ page.title }}</h1>
          <p>{{ page.content }}</p>
          
          {% if page.title == "Settings" %}
            <p>🌎
              <select class="locale-selector" id="locale-select">
                {% for locale in localization.available_languages %}
                  {% assign path = request.path | remove_first: request.locale.root_url %}
                  {% assign url = locale.root_url | append: '/' | append: path | replace: '//', '/' | replace: '//', '/' %}
                  <option {% if locale.iso_code == request.locale.iso_code %}selected{% endif %} value="{{ url }}">{{ locale.name }}</option>
                {% endfor %}
              </select>
              <select class="currency-selector" id="currency-select">
                {% for country in localization.available_countries %}
                  <option {% if country.iso_code == localization.country.iso_code %}selected{% endif %} value="{{ request.path }}?currency={{ country.currency.iso_code }}&amp;country={{ country.iso_code }}">
                    {{ country.currency.symbol }} {{ country.currency.iso_code }} / {{ country.iso_code }}
                  </option>
                {% endfor %}
              </select>
            </p>

            <p style="text-align: right;" class="my_right_space">
              🔎 <input type="text" placeholder="Input keywords and push Enter" size="30" id="my_search" class="search-input">
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page.name",
  "limit": 1,
  "enabled_on": {
    "templates": ["page"]
  }
}
{% endschema %}